{% load static %}
{% load i18n %}

<footer class="footer" style="position: sticky; bottom: 75px; right: 10px; height: 15px; margin-top: 35px;">
	<div class="card">
	<div class="card-body">
		<div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
		<p class="text-center text-sm-left d-block d-sm-inline-block mb-0">{% trans 'All rights reserved for' %} Upy-Explorer &copy; 2021</p>
		<p class="float-none float-sm-right d-none d-sm-block d-lg-block d-xl-block d-md-block mt-1 mt-sm-0 text-center mb-0">{% trans 'Version' %} 1.0.0</p>
		</div>
	</div>
	</div>
</footer>