{% load static %}
{% load i18n %}

{% get_current_language as language_code %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" style="margin-top: 0px;">

        {% if perms.global_permissions.app_dashboard %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard:dashboard' %}" style="height: 65px;">
                    <i class="mdi mdi-view-quilt menu-icon"></i>
                    <span class="menu-title">{% trans 'Dashboard' %}</span>
                </a>
            </li>
        {% endif %}

        <li class="nav-item sidebar-category">
            <p>Menu</p>
        </li>

        {% if perms.global_permissions.app_catalog %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" href="#ui-product" aria-expanded="false" aria-controls="ui-product">
                    <i class="mdi mdi-package-variant menu-icon"></i>
                    <span class="menu-title">{% trans 'Catalog' %}</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-product">
                    <ul class="nav flex-column sub-menu">
                        {% if perms.global_permissions.app_catalog_product_list %}
                            <li class="nav-item"> <a class="nav-link" href="{% url 'catalog:product_list' %}">{% trans 'Product' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        {% endif %}

        {% if perms.global_permissions.app_account %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-account-settings menu-icon"></i>
                    <span class="menu-title">{% trans 'My Profile' %}</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        {% if perms.global_permissions.app_account_change_password_view %}
                            <li class="nav-item"> <a class="nav-link" href="{% url 'account:change_password' %}">{% trans 'Change password' %}</a></li>
                        {% endif %}

                        {% if perms.global_permissions.app_account_change_profile_view %}
                            <li class="nav-item"> <a class="nav-link" href="{% url 'account:change_profile' %}">{% trans 'Change profile' %}</a></li>
                        {% endif %}

                        {% if perms.global_permissions.app_account_change_email_view %}
                            <li class="nav-item"> <a class="nav-link" href="{% url 'account:change_email' %}">{% trans 'Change email' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        {% endif %}
      
        <li class="nav-item sidebar-category">
            <p></p>
        </li>

    </ul>
  </nav>