{% load static %}

<!-- Vendor -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'vendor/datatables.net/jquery.dataTables.js' %}"></script> 
<script src="{% static 'vendor/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<!-- Vendor -->

<!-- Components -->
<script src="{% static 'js/components/off-canvas.js' %}"></script> 
<script src="{% static 'js/components/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/components/template.js' %}"></script>
<script src="{% static 'js/components/settings.js' %}"></script>
<script src="{% static 'js/components/todolist.js' %}"></script>
<script src="{% static 'js/components/data-table.js' %}"></script>
<script src="{% static 'js/components/tabs.js' %}"></script>
<!-- Components -->

<!-- App -->
<script src="{% static 'js/app.js' %}"></script>
<!-- App -->
