asgiref==3.4.1
beautifulsoup4==4.10.0
bootstrap4==0.1.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.9
django-appconf==1.0.5
django-bootstrap-modal-forms==2.2.0
django-bootstrap-v5==1.0.7
django-bootstrap4==3.0.1
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-environ==0.7.0
django-forms-bootstrap==3.1.0
django-global-permissions==0.2.4
django-models-logging==1.0.8
django-pipeline==2.0.7
django-staticfiles==1.2.1
django-upgrade==1.4.0
django-widget-tweaks==1.4.9
gunicorn==20.1.0
importlib-metadata==3.10.1
Jinja2==3.0.3
MarkupSafe==2.0.1
psycopg2==2.9.1
python-dateutil==2.8.2
python-environ==0.4.54
pytz==2021.3
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
static3==0.7.0
tokenize-rt==4.2.1
typing-extensions==3.10.0.2
whitenoise==5.3.0
zipp==3.6.0
