option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: app.settings
    DJANGO_ALLOWED_HOSTS: upy-application.us-east-2.elasticbeanstalk.com
    DJANGO_SECRET_KEY: 191b886a-b0ab-480a-b1fe-2e7017b812ce
    DJANGO_INTERNAL_IPS: 127.0.0.1
    DJANGO_DEBUG: false
    DJANGO_DATABASE_URL: mysql://u217473324_app:yoeGCoy8T@31.170.166.166/u217473324_app
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.wsgi:application