{% extends 'layouts/default/start.html' %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <div class="brand-logo">
        <img src="{% static 'media/upy-explorer-logo.png' %}" style="width: 195px;" alt="logo" class="mobile-logo"/>
    </div>
    <h4>{% trans "New here?" %}</h4>
    <h6 class="font-weight-light">{% trans 'Join us today! It takes only few steps' %}</h6>

    <form method="post" class="pt-3">

        {% csrf_token %}

        {% load widget_tweaks %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}

            {% if field.name == 'username' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <span class="input-group-text bg-transparent border-right-0">
                                {% if field.name == 'username' %}
                                    <i class="mdi mdi-account-outline text-primary" data-toggle="tooltip" data-placement="top" title="{{ field.label }}"></i>
                                {% endif %}
                            </span>
                        </div>
                        {% if field.name == 'username' %}
                            {{ field|add_class:'form-control form-control-lg' }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <span class="help-block" style="color: #b60909;">{{ error }}</span>
                    {% endfor %}
                    <div style="color: #a5a5a5; font-size: small;">
                        {{ field.help_text }}
                    </div>
                </div>
            {% endif %}

            {% if field.name == 'email' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <span class="input-group-text bg-transparent border-right-0">
                                {% if field.name == 'email' %}
                                    <i class="mdi mdi-email text-primary" data-toggle="tooltip" data-placement="top" title="{{ field.label }}"></i>
                                {% endif %}
                            </span>
                        </div>
                        {% if field.name == 'email' %}
                            {{ field|add_class:'form-control form-control-lg' }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <span class="help-block" style="color: #b60909;">{{ error }}</span>
                    {% endfor %}
                    <div style="color: #a5a5a5; font-size: small;">
                        {{ field.help_text }}
                    </div>
                </div>
            {% endif %}
        
            {% if field.name == 'password1' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <span class="input-group-text bg-transparent border-right-0">
                                {% if field.name == 'password1' %}
                                    <i class="mdi mdi-lock text-primary" data-toggle="tooltip" data-placement="top" title="{{ field.label }}"></i>
                                {% endif %}
                            </span>
                        </div>
                        {% if field.name == 'password1' %}
                            {{ field|add_class:'form-control form-control-lg' }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <span class="help-block" style="color: #b60909;">{{ error }}</span>
                    {% endfor %}
                    <div style="color: #a5a5a5; font-size: small;">
                        {{ field.help_text }}
                    </div>
                </div>
            {% endif %}

            {% if field.name == 'password2' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <span class="input-group-text bg-transparent border-right-0">
                                {% if field.name == 'password2' %}
                                    <i class="mdi mdi-lock text-primary" data-toggle="tooltip" data-placement="top" title="{{ field.label }}"></i>
                                {% endif %}
                            </span>
                        </div>
                        {% if field.name == 'password2' %}
                            {{ field|add_class:'form-control form-control-lg' }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <span class="help-block" style="color: #b60909;">{{ error }}</span>
                    {% endfor %}
                    <div style="color: #a5a5a5; font-size: small;">
                        {{ field.help_text }}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        <div class="mt-3">
            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">{% trans 'Create' %}</button>
        </div>

        <div class="text-center mt-4 font-weight-light">
            {% trans "You already have an account?" %} <a href="{% url 'account:log_in' %}" class="text-primary">{% trans 'Login' %}</a>
        </div>

    </form>

    <script type="text/javascript">
        var msg_password = "Your password can’t be too similar to your other personal information. Your password must contain at least 8 characters. Your password can’t be a commonly used password. Your password can’t be entirely numeric."
    </script>
{% endblock %}

