{% load static %}
{% load bootstrap5 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
    <head>

        <!-- Meta -->
        {% include 'layouts/modules/meta.html' %}
        <!-- Meta -->

        <!-- CSS -->
        {% include 'layouts/includes/include_css.html' %}
        <!-- CSS -->

    </head>

    <body >
        <div class="container-scroller d-flex">
            <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
              <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                  <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <div class="auth-form-transparent text-left p-3">
                        {% bootstrap_messages %}

                        {% block content %}
                            No content.
                        {% endblock %}            
                    </div>
                  </div>
                  <div class="col-lg-6 register-half-bg d-flex flex-row">
                    <p class="text-white font-weight-medium text-center flex-grow align-self-end">{% trans 'All rights reserved for' %} Upy-Explorer &copy; 2021</p>
                  </div>
                </div>
              </div>
              <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
          </div>

        <!-- JS -->
        {% include 'layouts/includes/include_js.html' %}
        <!-- JS -->

    </body>
</html>
