{% extends "layouts/default/page.html" %}

{% load static %}
{% load bootstrap5 %}
{% load i18n %}

{% block container %}

	{% if advertisinglink_list %}
		<div class="table-responsive text-nowrap">
			<div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap5 no-footer" style="padding-left: 0px !important;">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped dataTable"> 
							<thead>
								<tr role="row">
									<th width="95%" style="padding-bottom: 10px; padding-top: 10px;">{% trans 'ID' %}</th>
									<th width="10%" style="padding-bottom: 10px; padding-top: 10px;">{% trans 'Created In' %}</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
									{% for advertisinglink in advertisinglink_list %}
									<tr>
										<td>{{ advertisinglink.id }}</td>
										<td>{{ advertisinglink.creation_time|date:"M d, Y" }}</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans 'Options' %}</button>
												<div class="dropdown-menu" x-placement="bottom-start">
													<a class="dropdown-item" style="cursor: no-drop;" disabled>{% trans 'Edit' %}</a>
													<a class="dropdown-item" style="cursor: no-drop;" disabled>{% trans 'Details' %}</a>
												</div>                          
											</div>
										</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

			</div>
			
		</div>
		{% block pagination %}
			{% include "layouts/modules/pagination.html" %}
		{% endblock %}

	{% else %}
		<p>No advertisinglinks found in your database.</p>
	{% endif %}

{% endblock %}