{% extends "layouts/default/simple_container.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

{% block option %}

	<div class="col-12 grid-margin stretch-card" style="margin-bottom: 15px;">
		<div class="card">
			<div class="card-body" style="padding-bottom: 15px; padding-top: 15px;">

				<div class="container">
					<div class="row">
					  	<div class="col-12">
							<button type="button" class="btn btn-warning btn-sm" title="{% trans 'Edit Product' %}" style="float: right; margin-left: 5px;">
								<i class="mdi mdi-lead-pencil"></i>
							</button>
							<button type="button" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}" style="float: right;">
								<i class="mdi mdi-delete"></i>
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

{% block container %}

	<div class="col-md-4 grid-margin">
		<!-- stretch-card -->
		<div class="card">
			<div class="card-body">
				<div class="col-lg">
					<div class="border-bottom text-center pb-4">
						<img src="{% static 'media/icon/icon-product.png' %}" alt="profile" class="img-lg rounded-circle mb-3">
						<div class="mb-3">
							<h3>{{ product.name }}</h3>
							<div class="d-flex align-items-center justify-content-center">
								<h5 class="mb-0 mr-2 text-muted">{{ product.sku }}</h5>
							</div>
						</div>
						<p class="w-75 mx-auto mb-3">{{ product.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
					  	<a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">
							{% trans 'Basic information' %}
						</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">
					
						<div style="margin-top: 20px;">		
							<div class="form-row">
								<div class="form-group col-md-8">
									<label for="inputName">{% trans 'Name' %}:</label>
									<input type="text" class="form-control" id="inputName" placeholder="Name" value="{{ product.name }}" readonly>
								</div>
								<div class="form-group col-md-4">
									<label for="inputSku">{% trans 'Sku' %}:</label>
									<input type="text" class="form-control" id="inputSku" placeholder="Sku" value="{{ product.sku }}" readonly>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-8">
									<label for="inputName">{% trans 'Product Type' %}:</label>
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupType">{% trans 'Options' %}</label>
										<select class="custom-select" id="inputGroupType" style="height: 50px;" disabled>
											<option value="1" selected>Standard</option>
											<option value="2">Variation</option>
											<option value="3">Kit</option>
										  </select>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputSku">{% trans 'Estoque' %}:</label>
									<input type="text" class="form-control" id="inputSku" placeholder="Sku" value="{{ product.stock|floatformat:-2 }}" readonly>
								</div>
							</div>


							<div class="form-row">
								
								<div class="form-group col-md-4">
									<label for="inputPriceSell">{% trans 'Price Sell' %}:</label><div class="input-group-prepend">
										<span class="input-group-text">{% trans '$' %}</span>
										<span class="input-group-text">0.00</span><input type="text" class="form-control" value="{{ product.price_sell|floatformat:2 }}" readonly>
									</div>
								</div>

								<div class="form-group col-md-4">
									<label for="inputPriceSell">{% trans 'Price Cost' %}:</label><div class="input-group-prepend">
										<span class="input-group-text">{% trans '$' %}</span>
										<span class="input-group-text">0.00</span><input type="text" class="form-control" value="{{ product.price_cost|floatformat:2 }}" readonly>
									</div>
								</div>

								<div class="form-group col-md-4">
									<label for="inputPriceSell">{% trans 'Price Promo' %}:</label><div class="input-group-prepend">
										<span class="input-group-text">{% trans '$' %}</span>
										<span class="input-group-text">0.00</span><input type="text" class="form-control" value="{{ product.price_promo|floatformat:2 }}" readonly>
									</div>
								</div>

							</div>
					
							<div class="form-group">
								<label for="inputDescription">Description:</label>
								<textarea class="form-control" id="inputDescription" rows="3" readonly>{{ product.description }}</textarea>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}