{% extends "layouts/default/simple_container.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

{% block option %}

	<div class="col-12 grid-margin stretch-card" style="margin-bottom: 15px;">
		<div class="card">
			<div class="card-body" style="padding-bottom: 15px; padding-top: 15px;">

				<div class="container">
					<div class="row">
					  	<div class="col-12">
							<button type="button" class="btn btn-warning btn-sm" title="{% trans 'Edit Product' %}" style="float: right; margin-left: 5px;">
								<i class="mdi mdi-lead-pencil"></i>
							</button>
							<button type="button" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}" style="float: right;">
								<i class="mdi mdi-delete"></i>
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

{% block container %}

	<div class="col-md-4 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="col-lg">
					<div class="border-bottom text-center pb-4">
						<img src="{% static 'media/icon/icon-product.png' %}" alt="profile" class="img-lg rounded-circle mb-3">
						<div class="mb-3">
							<h3>{{ product.name }}</h3>
							<div class="d-flex align-items-center justify-content-center">
								<h5 class="mb-0 mr-2 text-muted">{{ product.sku }}</h5>
							</div>
						</div>
						<p class="w-75 mx-auto mb-3">{{ product.description }}</p>
					</div>
					<div class="py-4">
						<p class="clearfix">
							<span class="float-left">
								{% trans 'Price Sell' %}:
							</span>
							<span class="float-right text-muted">
								{% trans '$' %} <b>{{ product.price_sell|floatformat:2 }}</b>
							</span>
						</p>
						<p class="clearfix">
							<span class="float-left">
								{% trans 'Price Cost' %}:
							</span>
							<span class="float-right text-muted">
								{% trans '$' %} <b>{{ product.price_cost|floatformat:2 }}</b>
							</span>
						</p>
						<p class="clearfix">
							<span class="float-left">
								{% trans 'Price Promo' %}:
							</span>
							<span class="float-right text-muted">
								{% trans '$' %} <b>{{ product.price_promo|floatformat:2 }}</b>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
					  	<a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">
							{% trans 'Product' %}
						</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}