{% extends "layouts/default/container.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

{% block option %}

	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
					<ul class="navbar-nav mr-lg-2"></ul>
					<ul class="navbar-nav mr-lg-2">
						<li class="nav-item nav-search d-none d-lg-block">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{% trans 'Search Here...' %}" aria-label="search" aria-describedby="search">
							</div>
						</li>
					</ul>
					<ul class="navbar-nav navbar-nav-right">
						<li class="nav-item">
							<button type="button" class="btn btn-success btn-icon">
								<i class="mdi mdi-plus-box"></i>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block container %}

	{% if product_list %}
		<div class="table-responsive">
			<div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped dataTable"> 
							<thead>
								<tr role="row">
									<th width="70%" style="padding-bottom: 10px;padding-top: 10px;">{% trans 'Name' %}</th>
									<th width="10%" style="padding-bottom: 10px;padding-top: 10px;">{% trans 'Sku' %}</th>
									<th width="20%" style="padding-bottom: 10px;padding-top: 10px;">{% trans 'Price Sell' %}</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
									{% for product in product_list %}
									<tr>
										<td class="py-1">
											<div class="email-wrapper wrapper">
												<div class="row align-items-stretch">
													<div class="mail-list-container border-right">
														<div class="mail-list">
															<div class="form-check">
																<label class="form-check-label">
																	<input type="checkbox" class="form-check-input"> <i class="input-helper"></i>
																</label>
															</div>
															<div class="content" style="margin-left: 10px; margin-top: 3px;">
																<span ><img src="{% static 'media/icon-product.png' %}" style="width: 35px !important"></span>
															</div>
															<div class="content"style="margin-left: 10px;">
																<p class="sender-name">
																	{{ product.name }}
																</p>
																<p class="message_text">
																	ID: {{ product.id }} | {{ product.description }}
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td>{{ product.sku }}</td>
										<td>{{ product.price_sell }}</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans 'Options' %}</button>
												<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
													<a class="dropdown-item">{% trans 'View' %}</a>
													<a class="dropdown-item">{% trans 'Edit' %}</a>
												</div>                          
											</div>
										</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% block pagination %}
					{% include "layouts/default/pagination.html" %}
				{% endblock %}
			</div>
		</div>
	{% else %}
		<p>No products found in your database.</p>
	{% endif %}

	<script>
		$(document).ready(function() {
				$('#order-listing').DataTable( {
						"paging":   false,
						"ordering": true,
						"info":     false
				} );
		} );
	</script>

{% endblock %}