{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block sub_content %}

	<div class="row dash-row">

		<div class="col-md-3 dash-grid-margin stretch-card" style="padding-left: 15px;">
			<div class="card dash-card mb-4 rounded-3">
				<div class="dash-line" style="background: #43A047;"></div>
				<div class="card-header dash-card-header">
					<h1 class="dash-card-title">0</h1>
					<ul class="dash-list-unstyled list-unstyled">
						<li style="font-size: unset;font-family: 'Source Sans Pro';">{% trans 'Approved Sales' %}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-3 dash-grid-margin stretch-card">
			<div class="card dash-card mb-4 rounded-3">
				<div class="dash-line" style="background: #FF3D3D;"></div>
				<div class="card-header dash-card-header">
					<h1 class="dash-card-title">0</h1>
					<ul class="dash-list-unstyled list-unstyled">
						<li style="font-size: unset;font-family: 'Source Sans Pro';">{% trans 'Canceled Sales' %}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-3 dash-grid-margin stretch-card">
			<div class="card dash-card mb-4 rounded-3">
				<div class="dash-line" style="background: #9DC2FF;"></div>
				<div class="card-header dash-card-header">
					<h1 class="dash-card-title">0</h1>
					<ul class="dash-list-unstyled list-unstyled">
						<li style="font-size: unset;font-family: 'Source Sans Pro';">{% trans 'Active Products' %}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-3 dash-grid-margin stretch-card" style="padding-right: 15px;">
			<div class="card dash-card mb-4 rounded-3">
				<div class="dash-line" style="background: #FFE03D;"></div>
				<div class="card-header dash-card-header">
					<h1 class="dash-card-title">0</h1>
					<ul class="dash-list-unstyled list-unstyled">
						<li style="font-size: unset;font-family: 'Source Sans Pro';">{% trans 'Active ads' %}</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
