
{% extends "layouts/default/page.html" %}

{% load static %}
{% load bootstrap5 %}
{% load i18n %}

{% get_current_language as language_code %}

{% block square %}

	<div class="col-md-4 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="col-lg">
					<div class="border-bottom text-center pb-4">
						{% block square_left %}
							<br>
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">
							<b>{% trans 'Basic information' %}</b>
						</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
						<div style="margin-top: 20px;">		
							{% block square_right %}
								<br>
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
