{% load static %}
{% load i18n %}
{% load bootstrap5 %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
    <head>

        <!-- Meta -->
        {% include 'layouts/modules/meta.html' %}
        <!-- Meta -->

        <!-- CSS -->
        {% include 'layouts/includes/include_css.html' %}
        <!-- CSS -->

        <!-- JS -->
        {% include 'layouts/includes/include_js.html' %}
        <!-- JS -->

    </head>

	<!-- Modal -->
	{% include 'layouts/modules/modal.html' %}
	<!-- Modal -->

    {% block body %}
        <body class="sidebar-icon-only">

        </body>
    {% endblock %}

</html>
