{% extends "layouts/default/index.html" %}

{% load i18n %}

{% block body %}

    <body class="sidebar-icon-only">
        <div class="container-scroller d-flex">

            <!-- Menu -->
            {% include 'layouts/modules/menu.html' %}
            <!-- Menu -->

            <div class="container-fluid page-body-wrapper">

                <!-- Navbar -->
                {% include 'layouts/modules/navbar.html' %}
                <!-- Navbar -->

                <!-- Messages -->
                {% include 'layouts/modules/messages.html' %}
                <!-- Messages -->

                {% block content %}

                {% endblock %}

                <!-- Footer -->
                {% include 'layouts/modules/footer.html' %}
                <!-- Footer -->

            </div>
        </div>
    </body>

{% endblock %}
