{% load static %}
{% load i18n %}
{% load bootstrap5 %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="UpyExplorer">
        <meta name="author" content="Fernando Celmer">

        <link rel="icon" href="{% static 'favicon.ico' %}">
        <title>UpyExplorer</title>

        <!-- CSS -->
        {% include 'layouts/modules/include_css.html' %}
        <!-- CSS -->

    </head>
    <body class="sidebar-icon-only">
        <div class="container-scroller d-flex">
            <!-- Menu -->
            {% include 'layouts/modules/menu.html' %}
            <!-- Menu -->

            <div class="container-fluid page-body-wrapper">
                <!-- Navbar -->
                {% include 'layouts/modules/navbar.html' %}
                <!-- Navbar -->

                {% block content %}

                {% endblock %}

                <!-- Footer -->
                {% include 'layouts/modules/footer.html' %}
                <!-- Footer -->

            </div>
        </div>

        <!-- JS -->
        {% include 'layouts/modules/include_js.html' %}
        <!-- JS -->

    </body>
</html>
