
{% extends "layouts/default/page.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

{% block content %}

	<div class="main-panel">
		<div class="content-wrapper">
			<div class="row">

				<div class="col-12 grid-margin stretch-card" style="margin-bottom: 15px;">
					<div class="card">
						<div class="card-body" style="padding-bottom: 15px; padding-top: 15px;">
							<div class="container">
								<div class="row">
									<div class="col-12">

										{% if perms.global_permissions.app_catalog_product_read %}
											<button type="button" class="btn btn-primary btn-sm" title="Info" style="float: right; background: #3243c5;border-color: #3243c5; margin-right: 5px;">
												<i class="mdi mdi-comment-question-outline"></i>
											</button>
										{% endif %}

										{% if perms.global_permissions.app_catalog_product_update %}
											<a href="{{ object.get_absolute_url }}/edit" type="button" class="btn btn-warning btn-sm" title="{% trans 'Edit Product' %}" style="float: right; margin-right: 5px;">
												<i class="mdi mdi-lead-pencil"></i>
											</a>
										{% endif %}

										{% if perms.global_permissions.app_catalog_product_delete %}
											<a href="{{ object.get_absolute_url }}" type="button" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}" style="float: right; margin-right: 5px;">
												<i class="mdi mdi-delete"></i>
											</a>
										{% endif %}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 grid-margin">
					<div class="card">
						<div class="card-body">
							<div class="col-lg">
								<div class="border-bottom text-center pb-4">
									{% block square_left %}
										<br>
									{% endblock %}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">
										{% trans 'Basic information' %}
									</a>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
									<div style="margin-top: 20px;">		
										{% block square_right %}
											<br>
										{% endblock %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

{% endblock %}
