{% load static %}
{% load bootstrap5 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="UpyExplorer">
        <meta name="author" content="Fernando Celmer">

        <link rel="icon" href="{% static 'favicon.ico' %}">
        <title>UpyExplorer</title>

        <!-- CSS -->
        {% include 'layouts/include_css.html' %}
        <!-- CSS -->

    </head>

    <body>
        <div class="container-scroller d-flex">
            <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            {% bootstrap_messages %}

                            {% block content %}
                                No content.
                            {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JS -->
        {% include 'layouts/include_js.html' %}
        <!-- JS -->

    </body>
</html>
